* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

body {
  background-image: url('https://i.imgur.com/c2BrE6m.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: small;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    'c4 c4 music'
    'juego juego juego';
}

header {
  background-color: rgb(6, 245, 26);
  color: white;
  text-decoration: underline;
  grid-area: c4;
  place-self: center;
  width: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main {
  grid-area: juego;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

footer {
  grid-area: music
}

#connect4game {
  background-color: rgb(170, 0, 0);
  margin: 10px;
  width: 150vh;
  height: 70vh;
  justify-self: end;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat (5, 50px);
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
  grid-auto-flow: column;
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7 {
  background-color: rgb(173, 153, 93);
  height: 65px;
  width: 135px;
  margin: auto ;
  border-radius: 80%;
  text-align: center;
}

.column1, .column3, .column5, .column7 {
  background-color: white;
} /* :nth-child(odd) { */


#scoreboard {}  

#main-computer {
  background-color: orange;
} 

#main-me {
  background-color: black;
  color: white;
} 

#time {
  color: white;
  background-color: red;
  text-align: center;
} 

#winner {
  color: white;
  background-color: black;
} 

#p-score {
  background-color: lightgrey;
} 

#c-score {
  background-color: green;
}

