* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

body {
  background-image: url('https://i.imgur.com/c2BrE6m.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: small;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    'c4 c4 music'
    'juego juego juego';
}

header, footer, main{
   height: 200px;
  }

header {
  background-color: rgb(6, 245, 26);
  color: white;
  text-decoration: underline;
  grid-area: c4;
  justify-self: center;
  justify-items: center;
  width: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sb sb sb"
  "mm mm mc"
  "ps ps cs"
  "ww ww ww"; */
}

main {
  grid-area: juego;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

#winner {
  grid-area: win;
}

footer {
  grid-area: music
}

.connect-4-game {
  background-color: rgb(170, 0, 0);
  margin: 10px;
  width: 150vh;
  height: 70vh;
  justify-self: end;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat (5, 50px);
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
  grid-auto-flow: column;
}

.slots {
  background-color: rgb(173, 153, 93);
  height: 65px;
  width: 135px;
  border-radius: 70%;
  order: 7;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.slots:nth-child(odd) {
  background-color: white;
}

#scoreboard {
  grid-area: sb;
  justify-self: center;
}  

#main-computer {
  background-color: orange;
  grid-area: mc
} 

#main-me {
  background-color: black;
  color: white;
  grid-area: mm;
} 

#time {
  color: white;
  background-color: red;
  text-align: center;
  grid-area: time;
} 

#winner {
  color: white;
  background-color: black;
  grid-area: ww;
} 

#p-score {
  background-color: lightgrey;
  grid-area: ps;
} 

#c-score {
  background-color: green;
  grid-area: cs;
}

/* #music {
  background-color: black;
  color: white;
  text-align: center;
  justify-self: stretch;
} */