* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

body {
  background-image: url('https://i.imgur.com/c2BrE6m.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: small;
  height: 105vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
    'c4 c4 c4'
    'juego juego juego'
    'music music music';
}

header, footer, main{
  /* width: 350px; */
   height: 100px;
  }

header {
  background-color: rgb(6, 245, 26);
  text-decoration: underline;
  grid-area: c4;
  justify-self: center;
  width: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sb sb sb"
  "mm mm mc"
  "ps ps cs"
  "ww ww ww";
}

main {
  grid-area: juego;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

#winner {
  grid-area: win;
}

footer {
  grid-area: music
}

#title {
  color: white;
  text-decoration: underline;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.connect-4-game {
  background-color: rgb(0, 42, 92);
  margin: 10px;
  width: 160vh;
  height: 60vh;
  justify-items: center;
  align-content: stretch;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat (5, 50px);
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  grid-auto-flow: column;
}

.slots {
  background-color: rgb(122, 193, 66);
  height: 70px;
  width: 120px;
  border-radius: 70%;
  order: 7;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#scoreboard {
  grid-area: sb;
  justify-self: center;
}  

#main-computer {
  background-color: orange;
  grid-area: mc
} 

#main-me {
  background-color: black;
  color: white;
  grid-area: mm;
} 

#time {
  color: white;
  background-color: red;
  text-align: center;
  grid-area: time;
} 

#winner {
  color: white;
  background-color: black;
  grid-area: ww;
} 

#p-score {
  background-color: lightgrey;
  width: 100px;
  border: 5px solid green;
  padding: 20px;
  margin: 5px;
  grid-area: ps;
} 

#c-score {
  background-color: green;
  grid-area: cs;
}

#music {
  background-color: black;
  color: white;
  text-align: center;
  justify-self: stretch;
}